<div class="row">
  <div class="col-sm-12">
    <h3>{{tweeter.screen_name}}</h3>
    <h6>{{tweeter.name}}</h6>
    <p>{{tweeter.description}}</p>
    <img src="{{tweeter.profile_image_url}}" class="img-rounded">
  </div>
</div>
